.cproject
.project
.settings
.directory
Makefile.in
Makefile
BROWSE
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
dali.info
install_manifest.txt
libdali-core.so.0
libdali-core.so.0.1.1
*~
*.pc
*.o
*.o.d
*.lo
*.loT
*.la
*.so
*.orig
*.odt
*.fodt
*.test
*.example
*.a
*.apk
*.ap_
*.class
*.classpath
*.dex
*.gcno
*.gcda
*.gcov
.deps
.libs
*.swp
*.creator
*.creator.user
/docs/generated/*
/build/tizen/doc
/build/tizen/.cov
/build/desktop
/packaging/home*
