.cproject
.project
.settings
.directory
Makefile.in
Makefile
BROWSE
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
dali.info
install_manifest.txt
libdali-core.so.0
libdali-core.so.0.1.1
libdali2-core.so.2
libdali2-core.so.2.0.0
*~
*.pc
*.o
*.o.d
*.lo
*.loT
*.la
*.so
*.orig
*.odt
*.fodt
*.test
*.example
*.a
*.apk
*.ap_
*.class
*.classpath
*.dex
*.gcno
*.gcda
*.gcov
.deps
.libs
*.swp
*.creator
*.creator.user
/docs/generated/*
/build/tizen/doc
/build/tizen/.cov
/build/tizen/.ninja_deps
/build/tizen/.ninja_log
/build/tizen/build.ninja
/build/tizen/rules.ninja
/build/tizen/cmake-build-debug
/build/tizen/cmake-build-release
/build/desktop
/packaging/home*
compile_commands.json
.idea
build/tizen-cmake/cmake-build-debug/
build/tizen-cmake/cmake-build-release/
build/tizen/.lineno
build/tizen/vk_build_debug.sh
