[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group dalihub admins
	label-Code-Review = -2..+2 group dalihub reviewers
	label-Code-Review = -1..+1 group dalihub developers
	label-Verified = -1..+1 group dalihub developers
	submit = group dalihub reviewers
[access "refs/for/refs/*"]
	read = group dalihub admins
	push = group dalihub admins
	label-Code-Review = -2..+2 group dalihub admins
	rebase = group dalihub admins
	removeReviewer = group dalihub admins
[access "refs/heads/*"]
	read = group dalihub admins
[access "refs/tags/*"]
	push = +force group dalihub admins
